<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Iteam" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=CakeShop;"
            providerName="System.Data.SqlClient" />
        <add name="MilkDairyManagementSystemVB.My.MySettings.dairyConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\dairy.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MilkDairyManagementSystemVB.My.MySettings.CakeShopConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=CakeShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MilkDairyManagementSystemVB.My.MySettings.StockConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Stock;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>